<!--Admin Main Page-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{{url_for('static', filename='./assets/APC.png')}}" />
        <title>Admin Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{url_for('static', filename='./scripts/returnpass.js')}}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{url_for('static', filename='./css/rest.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename='./scripts/autologout-admin.js')}}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </head>
    <body>
        
        <nav class="navbar navbar-light bg-light fixed-top">
            <div class="container">
                <button class='btn btn-warning mb-1' onClick='rdrhome()'>
                    Main Menu
                </button>
                <a class="navbar-brand" href="#">
                    <blockquote id="msg" class="blockquote text-right display-6">
                    </blockquote>
                </a>
                <button class='btn btn-outline-danger mb-1' onClick='logoutactual()'>
                   Log out
                </button>
            </div>
        </nav>
        <hr>
        <br>
        <br>
        <div class="card-group divmargin">
            <div class="admindivsize text-center">
                <div>
                    <img class="card-img-top imgsize" src="{{url_for('static', filename='./assets/rail.jpg')}}" alt="rail img">
                    <h5 class="card-title">Manage Trains</h5>
                    <p class="card-text">Choose from options below.</p>
                    <div class="card-group" style="text-align: center;">
                    <button  onclick="rdraddtrain()" style="margin:auto" class="btn btn-success"><span class="bi bi-plus-circle"></span></button>
                    <button  onclick="rdrchangetrain()" style="margin:auto" class="btn btn-warning"><span class="bi bi-pencil-square"></span></button>
                    <button  onclick="rdrremovetrain()" style="margin:auto" class="btn btn-danger"><span class="bi bi-dash-circle"></span></button>
                    </div>
                </div>
            </div>
            <div class="admindivsize text-center">
                <div>
                    <img class="card-img-top imgsize" src="{{url_for('static', filename='./assets/coach.png')}}" alt="Coach img">
                    <h5 class="card-title">Manage Coaches</h5>
                    <p class="card-text">Choose from options below.</p>
                    <div class="card-group" style="text-align: center;">
                    <button  onclick="rdraddcoach()" style="margin:auto" class="btn btn-success"><span class="bi bi-plus-circle"></span></button>
                    <button  onclick="rdrchangecoach()" style="margin:auto" class="btn btn-warning"><span class="bi bi-pencil-square"></span></button>
                    <button  onclick="rdrremovecoach()" style="margin:auto" class="btn btn-danger"><span class="bi bi-dash-circle"></span></button>
                    </div>
                </div>
            </div>
            <div class="admindivsize text-center">
                <div>
                    <img class="card-img-top imgsize" src="{{url_for('static', filename='./assets/ticket.png')}}" alt="Coach img">
                    <h5 class="card-title">Manage Reservations</h5>
                    <p class="card-text">Choose from options below.</p>
                    <div class="card-group" style="text-align: center;">
                    <button  onclick="rdrviewticket()" style="margin:auto" class="btn btn-success"><span class="bi bi-ticket-perforated"></span></button>
                    <button  onclick="rdrrejectticket()" style="margin:auto" class="btn btn-danger"><span class="bi bi-x-circle"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-group divmargin">
            <div onclick="rdrtimetable()" class="admindivsize text-center hola">
                <div>
                    <img class="card-img-top imgsize" src="{{url_for('static', filename='./assets/timetable.png')}}" alt="rail img">
                    <h5>TimeTable</h5>
                    <p class="card-text">A uniformed timetable for all Trains</p>
                </div>
            </div>
            <div onclick="rdrmothertable()" class="admindivsize text-center hola">
                <div>
                    <img class="card-img-top imgsize" src="{{url_for('static', filename='./assets/db.jpg')}}" alt="rail img">
                    <h5>Mother Table</h5>
                    <p class="card-text">Combined and detailed table of the DataBase.</p>
                </div>
            </div>
            <div onclick="rdrallfeeds()" class="admindivsize text-center hola">
                <div>
                    <img class="card-img-top imgsize" src="{{url_for('static', filename='./assets/feedback.jpg')}}" alt="rail img">
                    <h5>Feedbacks</h5>
                    <p class="card-text">View all feedbacks from reviewers.</p>
                </div>
            </div>
        </div>
    <script src="{{url_for('static', filename='./scripts/admin.js')}}"></script>
    <script src="{{url_for('static', filename='./scripts/navigation.js')}}"></script>
    </center>
    </body>
</html>