<!--Page For User Ticket Cancellation-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{{url_for('static', filename='./assets/APC.png')}}" />
        <title>Ticket Cancellation</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="{{url_for('static', filename='./css/indexadminlock.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename='./scripts/returnpassuser.js')}}"></script>
        
    </head>
    <body>
        
        <nav class="navbar navbar-light bg-light fixed-top">
            <div class="container">
                <button class='btn btn-warning mb-1' onClick='rdrhome()'>
                    Main Page
                </button>
                <button class='btn btn-success mb-1' onClick='rdruser()'>
                    User Page
                </button>
            </div>
        </nav>
        <hr>
        <br>
        <div class="center">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header imgcenter">
                            <h4 class="bodytext display-3">
                            <b>Cancel Ticket</b>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-content-sm-center">
                                <img class="imgresize margin" src="{{url_for('static', filename='./assets/cancel.jpg')}}" alt="cancel ticket img">
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label for="tno" class="col-md-4 col-form-label text-md-right display-1"><b>Ticket No</b></label>
                                    <div class="col-md-6">
                                        <input type="text" id="ticketno" class="widthinput form-control" name="tno" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pno" class="col-md-4 col-form-label text-md-right display-1"><b>Account Password</b></label>
                                    <div class="col-md-6">
                                        <input type="password" id="upass" class="widthinput form-control" name="pno" required>
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" style="text-align: center;" class="margin btn btn-primary btn-sm request">Request<br>Cancellation</button>
                                </div>
                        </div>
                        <div class="card-footer imgcenter">
                            <h5 id="msg" class="bodytext display-4"><a href="{{url_for('ticket')}}">View Tickets</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="{{url_for('static', filename='./scripts/navigation.js')}}"></script>
        <script src="{{url_for('static', filename='./scripts/cticket.js')}}"></script>
    </body>
</html>