<!--Page For Logging In To The Super Admin-->
<!doctype html>
<html>
<head>
    <link rel="icon" href="{{url_for('static', filename='./assets/APC.png')}}" />
        <title>Super Admin Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{{url_for('static', filename='./css/indexadminlock.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='./scripts/returnlocksuper.js')}}"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container">
            <button class='btn btn-warning mb-1' onClick='rdrland()'>
                landing page
            </button>
            <button class='btn btn-success mb-1' onClick='rdrhome()'>
                Main Page
            </button>
        </div>
    </nav>
    <hr>
    <br>
    <div class="center">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header imgcenter">
                        <h4 class="bodytext display-3">
                        <b>Super Admin Login</b>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-content-sm-center">
                            <img class="imgresize margin" src="{{url_for('static', filename='./assets/superadmin.png')}}" alt="super admin img">
                            </div>
                            <br>
                            <div class="form-group row">
                                <label for="username" class="col-md-4 col-form-label text-md-right display-1"><b>Username :</b></label>
                                <div class="col-md-6">
                                    <input type="text" id="sid" class="widthinput form-control" name="username" required autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right display-1"><b>Password :</b></label>
                                <div class="col-md-6">
                                    <input type="password" id="spass" class="widthinput form-control" name="password" required>
                                </div>
                            </div>
                            <div  class="form-group row">
                                <button style="margin: auto;" type="submit" class="margin btn btn-outline-primary btn-sm requestotp">Get OTP</button>
                            </div>
                            <div class="form-group row">
                                <label for="otp" class="col-md-4 col-form-label text-md-right display-1"><b>OTP :</b></label>
                                <div class="col-md-6">
                                    <input type="number" id="sotp" class="widthinput form-control" name="otp" required>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="margin btn btn-primary btn-lg request">Log in</button>
                            </div>
                    </div>
                    <div class="card-footer imgcenter">
                        <h5 id="msg" class="bodytext display-4">Please do not tamper! Only <b>(Database Administrator)</b> should have access to this page.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{{url_for('static', filename='./scripts/superadminlock.js')}}"></script>
    <script src="{{url_for('static', filename='./scripts/navigation.js')}}"></script>
</body>
</html>