<!--Page For Posting a Feedback-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{{url_for('static', filename='./assets/APC.png')}}" />
        <title>Give Feedback</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="{{url_for('static', filename='./css/indexadminlock.css')}}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        
        <nav class="navbar navbar-light bg-light fixed-top">
            <div class="container">
                <button class='btn btn-success mb-1' onClick='rdrland()'>
                    Landing Page
                </button>
                <button class='btn btn-secondary mb-1' onClick='rdrhome()'>
                    Main Page
                </button>
            </div>
        </nav>
        <hr>
        <br>
        <div class="center">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header imgcenter">
                            <h4 class="bodytext display-3">
                            <b>Write here</b>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-content-sm-center">
                                <img class="imgresize margin" src="{{url_for('static', filename='./assets/feedback.jpg')}}" alt="admin img">
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label for="your_name" class="col-md-4 col-form-label text-md-right display-1"><b>Full Name :</b></label>
                                    <div class="col-md-6">
                                        <input type="text" id="name" class="widthinput form-control" name="your_name" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="textarea" class="col-md-4 col-form-label text-md-right display-1" ><b>Message :</b></label>
                                    <div class="col-md-6">
                                        <textarea type="text" id="feedback" class="widthinput form-control" name="textarea" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="margin btn btn-primary btn-lg request">Submit</button>
                                </div>
                               
                        </div>
                        <div class="card-footer imgcenter">
                            <h5 id="msg" class="bodytext display-4">This section is inteded for people with their valuable messages.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="{{url_for('static', filename='./scripts/write.js')}}"></script>
        <script src="{{url_for('static', filename='./scripts/navigation.js')}}"></script>
        </center>
    </body>
</html>